<% layout('layout/boilerplate') %>
<div class="row">
  <h1 class="mb-5 text-center">Edit <%= foundCamp.title %></h1>
  <div class="col-6 offset-3">
    <form
      action="/campgrounds/<%= foundCamp.id %>/edit?_method=PUT"
      method="post"
      novalidate
      class="validated-form"
    >
      <div class="mb-3">
        <label class="form-label" for="title">Add place name</label>
        <input
          class="form-control"
          type="text"
          name="title"
          id="title"
          placeholder="place name"
          value="<%=foundCamp.title %> "
          required
        />
        <div class="valid-feedback">Looks Good</div>
        <div class="invalid-feedback">Please fill out the form above</div>
      </div>

      <div class="mb-3">
        <label class="form-label" for="location">Location</label>
        <input
          class="form-control"
          type="text"
          name="location"
          id="location"
          placeholder="location"
          value="<%= foundCamp.location %> "
          required
        />
        <div class="valid-feedback">Looks Good</div>
        <div class="invalid-feedback">Please fill out the form above</div>
      </div>

      <div class="mb-3">
        <label class="form-label" for="image">Image URL</label>
        <input
          class="form-control"
          type="text"
          name="image"
          id="image"
          placeholder="image url"
          value="<%= foundCamp.image %> "
          required
        />
        <div class="valid-feedback">Looks Good</div>
        <div class="invalid-feedback">Please fill out the form above</div>
      </div>

      <div class="mb-3">
        <label class="form-label" for="description">Description</label>
        <textarea
          class="form-control"
          type="text"
          name="description"
          id="description"
          placeholder="description"
        >
<%= foundCamp.description %> </textarea
        >
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text">$</span>
        <input
          name="price"
          type="text"
          class="form-control"
          aria-label="Amount (to the nearest dollar)"
          placeholder="0.00"
          value="<%= foundCamp.price %> "
          required
        />
        <div class="valid-feedback">Looks Good</div>
        <div class="invalid-feedback">Please fill out the form above</div>
      </div>

      <div class="mb-3 mt-5 d-grid gap-2 col-6 mx-auto">
        <button class="btn btn-success">Submit</button>
      </div>
    </form>
    <a href="/campgrounds">All campgrounds</a>
  </div>
</div>
